/* Imports */

@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global scopes */

* {
    scroll-behavior: smooth;
    cursor:default;
}

body {
    font-size: 1.1rem;
    position: relative;
    background: linear-gradient(#cc38b8, #bd8c22);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    max-width: 130rem;
    margin: 0 auto;
}
h3,
ul {
    padding: 1rem 2rem;
    text-decoration: none;
}
a > *,
a {
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.3rem;
}
::-webkit-scrollbar-track {
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
    background: #b131a0; 
    border-radius: 1rem;
}

/* Header */

header {
    color: #fff;
    box-shadow: 0 2px 10px #8b267e;
    padding: 1rem 1.5rem;
}
.header-box,
.header-box--logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-box {
    margin: 0 1rem;
    justify-content: space-between;
}
.header-box h1 {
    padding: 0 1rem;
}
.header-box--logo {
    width: 12rem;
}
.header-img {
    height: 2rem;
    width: 2rem;
    padding: 1rem 1rem 1rem 0;
    background-image: url(../images/logo.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60%;
}

/* Navigation */

.nav-container {
    box-shadow: 2px 7px 10px -2px #8b267e;
    position: sticky;
    top: 0;
    width: 25rem;
    height: calc(100vh - 96px);
}
.nav-container h3 {
    margin: 2rem 0 0;
}
.larger--all {
    font-size: 1.3rem;
    padding: 2rem;
    color: #f0f8ff;
    box-shadow: 0px 1px 10px -2px #8b267e;
}

/* Main */

main {
    display: flex;
}
form,
.box-clear {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding: 1rem 2rem;
}
.box--bottom {
    margin-bottom: 3rem;
}
.tasks,
.tasks--done {
    padding-top: 0;
}

li {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 2.5rem;
    margin: 0.5rem 0;
    padding-left: 1rem;
    border-radius: 0.2rem;
    background-color: #fff;
    transition: all ease 0.2s;
}
li p {
    display: flex;
    align-items: center;
}
.main-container {
    width: 65rem;
    position: relative;
    max-width: calc(100% - 2rem);
    margin: 2rem 1rem;
    height: min-content;
    max-height: calc(100vh - 10.2rem);
    border-radius: 0.5rem;
    overflow-y: scroll;
    box-shadow: 2px 2px 10px -2px #8b267e;
}
@media (min-width: 84rem) {
    .main-container {
        margin: 2rem auto;
    }
}
.input {
    height: calc(2.5rem - 2px);
}
.input,
.p--pending {
    padding-left: 1rem;
    flex-grow: 2;
    border-radius: 0.2rem;
    border: 1px solid #cc38b8;
}
.input {
    cursor: auto;
}
.submit,
.done,
.clear,
.edit {
    background-color: #3d3030;
    color: #FFF;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    transition: all ease 0.2s;
    cursor: pointer;
}
.done {
    position: absolute;
    left: -3rem;
    background-color: #009c15;
    background-image: url(../images/checkmark-circle.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.box--clear-edit {
    position: absolute;
    right: -2.8rem;
    transition: ease all 0.2s;
}
.edit,
.clear {
    background-image: url(../images/delete--white.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ad0808;
}
.edit {
    background-image: url(../images/edit--white.png);
    background-color: #3d3030;
}
li:hover > .done {
    left: 0;
}
li:hover > .box--clear-edit {
    right: 0;
}
li:hover {
    padding-left: 3rem;
}
.logout,
.header-box--logo {
    transition: ease all 0.2s;
    border-radius: 2rem;
}
.logout {
    padding: 1rem 2rem;
}
.logout:hover,
.header-box--logo:hover {
    background-color: #9c2c8d;
}
.p--pending {
    color: #fff;
    border: none;
    padding: 0;
}
.submit--clear {
    width: 8rem;
    margin-right: 1px;
}

/* Button to top  */

#btn-totop {
    z-index: 100;
    position: absolute;
    padding: 1.1rem;
    background-color: #3d3030;
    background-image: url(../images/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    bottom: 3rem;
    height: 2.5rem;
    width: 5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: ease all 0.3s;
    opacity: 0;
}
#btn-totop:hover,
.done:hover,
.clear:hover,
.submit:hover,
.edit:hover {
    opacity: 90%;
}