/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* Global scopes */

:root {
    --primary-top: #cc38b8;
    --primary-bottom: #bd8c22;
    --primary-text: #FFFFFF;
    --primary-border: #8b267e;
    --primary-buttons: #181818;
    --primary-nav__bg: rgba(255, 255, 255, 0.2);
    --switch-img: url(../images/beach.png);
}
* {
    scroll-behavior: smooth;
    cursor: default;
}
body {
    position: relative;
    background-image: linear-gradient(var(--primary-top), var(--primary-bottom));
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    max-width: 130rem;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
}
h3,
ul {
    padding: 1rem 2rem;
    text-decoration: none;
}
ul > li {
    color: var(--primary-text);
    background-color: rgba(0, 0, 0, 0.2);
}
a > *,
a {
    cursor: pointer;
    color: var(--primary-text);
    text-decoration: none;
}
h2 {
    font-size: 1rem;
}
h1,
h3 {
    font-family: 'Cookie', sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.3rem;
}
::-webkit-scrollbar-track {
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-border); 
    border-radius: 1rem;
}

/* Header */

header {
    height: 5.5rem;
    color: var(--primary-text);
    box-shadow: 0 2px 10px var(--primary-border);
}
.header-box,
.header-box--logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-box {
    justify-content: space-between;
}
.header-box h1 {
    padding: 0 1rem;
}
.header-box--logo {
    width: 12rem;
    gap: 4rem;
}
.header-box--logout {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-right: 1rem;
    align-items: center;
}

/* Theme switch */

.switch-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-left: 0;
    width: 7rem;
    height: 4.5rem;
    overflow: hidden;
}
.switch__img {
    background-image: var(--switch-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.switch__img {
    cursor: pointer;
    position: absolute;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 2rem;
}
.switch__img:hover {
    transform: scale(120%);
}
.active {
    animation: switch 1.5s;
}
@keyframes switch {
    0%, 100% {
        margin-left: 0;
        opacity: 1;
    }
    40% {
        margin-left: 15rem;
    }
    45% {
        margin-top: 5rem;
        opacity: 0;
    }
    50% {
        margin-left: -15rem;
    }
}
.shaking {
    animation: shake infinite 3s;
}
  @keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
        transform: rotate(5deg);
        transform: scale(110%);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
        transform: rotate(-20deg);
    }
    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
        transform: rotate(20deg);
        transform: scale(110%);
    }
    40%, 60% {
        transform: translate3d(3px, 0, 0);
        transform: rotate(-10deg);
    }
}

/* Navigation */

.nav-container {
    box-shadow: 2px 7px 10px -2px var(--primary-border);
    background-color: var(--primary-nav__bg);
    position: sticky;
    top: 0;
    width: 25rem;
    height: calc(100vh - 5rem);
}
.nav-container h3 {
    margin-top: 2rem;
}
.nav-container li,
.nav-container button {
    cursor: pointer;
}
.larger--all {
    padding: 2rem;
    color: var(--primary-text);
    margin-top: 0;
    box-shadow: 0px 1px 10px -2px var(--primary-border);
}

/* Main */

main {
    display: flex;
}
.input__form {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding: 1rem 2rem 2rem 2rem;
}
.box-categories {
    padding-top: 0.2rem;
}
.box--bottom {
    margin-bottom: 3rem;
}
.tasks,
.tasks--done {
    padding-top: 0;
}
.categories--btn {
    border: none;
    color: var(--primary-text);
    background: none;
    font-size: 1.1rem;
    padding: 0;
}
li {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 2.5rem;
    margin: 0.5rem 0;
    padding-left: 1rem;
    border-radius: 0.2rem;
    background-color: #FFFFFF;
    transition: all ease 0.3s;
}
li p {
    display: flex;
    align-items: center;
}
.main-container,
.auth-container {
    width: 65rem;
    position: relative;
    max-width: calc(100% - 2rem);
    margin: 2rem 1rem;
    height: min-content;
    max-height: calc(100vh - 9rem);
    border-radius: 0.5rem;
    overflow-y: scroll;
    box-shadow: 2px 2px 10px -2px var(--primary-border);
    background-color: var(--primary-nav__bg);
}
@media (min-width: 92rem) {
    .main-container {
        margin: 2rem auto;
    }
}
.input,
.p--pending {
    padding-left: 1rem;
    flex-grow: 2;
    border-radius: 0.2rem;
    border: 1px solid var(--primary-top);
}
.input {
    height: calc(2.5rem - 2px);
    cursor: auto;
    font-size: 1rem;
    border: none;
    color: var(--primary-top);
}
.submit,
.done,
.clear,
.edit,
.btn {
    background-color: var(--primary-buttons);
    color: var(--primary-text);
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    transition: all ease 0.3s;
    cursor: pointer;
}
.submit--clear {
    width: 12rem;
}
.box-clear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
.submit__category,
.edit,
.clear,
.done {
    background-image: url(../images/add-list--white.png);
    background-position: center;
    background-repeat: no-repeat;
}
.submit__category {
    background-size: 50%;
}
.submit__task,
.btn  {
    width: 9rem;
    color: #FFFFFF;
    background-color: var(--primary-buttons);
    font-size: 1.7rem;
}
.done {
    position: absolute;
    bottom: 0;
    left: -3rem;
    background-color: #009c15;
    background-image: url(../images/checkmark-circle.svg);
}
.edit,
.clear {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../images/delete--white.png);
    background-size: 50%;
    background-color: #ad0808;
}
.edit {
    background-image: url(../images/edit--white.png);
    background-color: var(--primary-buttons);
}
li:hover > form .done {
    left: 0;
}
li:hover > form .edit {
    right: 3rem;
}
li:hover {
    padding-left: 3rem;
}
.logout,
.header-box--logo {
    transition: ease all 0.3s;
    border-radius: 2rem;
    margin: 1rem 0;
}
.logout {
    cursor: pointer;
    color: var(--primary-text);
    font-size: 1.2rem;
    background-color: unset;
    border: none;
    padding: 1rem 2rem;
}
.logout:hover {
    background-color: var(--primary-border);
}
.p--pending {
    color: var(--primary-text);
    border: none;
    padding: 0;
}

/* Button to top  */

#btn-totop {
    z-index: 100;
    position: absolute;
    padding: 1.1rem;
    background-color: var(--primary-buttons);
    background-image: url(../images/arrow-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    bottom: 3rem;
    right: -3rem;
    height: 2.5rem;
    width: 5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: ease all 0.3s;
    opacity: 0;
}
#btn-totop:hover,
.done:hover,
.clear:hover,
.submit:hover,
.edit:hover,
.btn:hover {
    opacity: 70%;
}

/* Authentication Container */

.auth-container {
    margin: 2rem auto;
    box-sizing: border-box;
    width: 35rem;
    padding: 4rem;
    animation: rubber 0.8s;
}

/* credits to: https://codepen.io/chronisp/pen/WqGxdW */
@keyframes rubber {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.85, 1);
    }
    40% {
      transform: scale3d(0.85, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, .95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
}
.h3--auth {
    color: var(--primary-text);
    padding: 0;
    border-bottom: 1px solid var(--primary-border);
}
.input-container {
    margin-bottom: 2rem;
    position: relative;
}
.input-container input {
    color: var(--primary-top);
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 7px;
}
.input-container label {
    color: var(--primary-text);
}
.auth-container .footer-container {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: flex-end;
}
.form-errors {
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: rgb(226, 78, 78);
    color: var(--primary-text);
    margin-bottom: 1rem;
    border-radius: 0.2rem;
}
.form-error {
    background-color: unset;
    margin: 0;
    align-items: center;
}
.error {
    color: red;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 0.8rem;
}
.btn {
    background-color: var(--primary-border);
    font-size: 1.1rem;
    width: 7rem;
    transition: none;
}
.btn-register {
    background-color: #009c15;
}
.btn-login {
    margin-top: 5rem;
    margin-left: calc(100% - 7rem);
}
.btn-clear {
    width: 4rem;
}