{{> header}}
<main>
{{> navigation}}
    <h1>Welcome, {{userData.email}}</h1>
    <button id="btn-totop" href="index.html"></button>
    <div class="main-container">
        {{> input}}
        {{> tasks}}
        {{> tasks-done}}
    </div>
</main>