<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">

    <link rel="apple-touch-icon" sizes="180x180" href="../../public/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/favicon/favicon-16x16.png">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="../../public/css/main.css">

    <title>Just Do IT!</title>
</head>
<body>
    <header>
        <div class="header-box">
            <a href="index.html" class="header-box--logo">
                <div class="header-img"></div>
                <h2>Just Do IT!</h2>
            </a>
            <a class="logout" href="index.html">Logout</a>
        </div>
    </header>

    <main>
        <nav class="nav-container">
            <h3 class="larger">Categories</h3>
            <ul class="box-categories">
                <li>
                    <p>Default</p>
                    <input class="done clear" type="submit" value="">
                </li>
                <li>
                    <p>Household</p>
                    <input class="done clear" type="submit" value="">
                </li>
                <li>
                    <p>Gaming</p>
                    <input class="done clear" type="submit" value="">
                </li>
            </ul>
        </nav>

        <div class="main-container">
            <button id="btn-totop" href="index.html"></button>
            <h1 class="larger">We've got things to do!</h1>
            <form>
                <input class="input" type="text" id="todo" name="todo" placeholder="Add new">
                <input class="submit" type="submit" value="+">
            </form>
            <ul class="tasks">
                <li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create video for Youtube</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create a new portfolio site</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li><li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create video for Youtube</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create a new portfolio site</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li><li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create video for Youtube</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create a new portfolio site</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li><li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create video for Youtube</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create a new portfolio site</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li><li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create video for Youtube</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create a new portfolio site</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li><li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create video for Youtube</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create a new portfolio site</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li><li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create video for Youtube</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
                <li>
                    <p>Create a new portfolio site</p>
                    <input class="done" type="submit" value="">
                    <div class="box--clear-edit">
                        <input class="clear" type="submit" value="">
                        <input class="edit" type="submit" value="">
                    </div>
                </li>
            </ul>
            <div class="box-clear">
                <p class="p--pending">Things you have done!</p>
                <input class="submit submit--clear" type="submit" value="Clear All">
            </div>
            
            <ul class="tasks--done">
                <li>
                    <p>Buy a new gaming laptop</p>
                    <input class="done clear" type="submit" value="">
                </li>
                <li>
                    <p>Complete the dishes</p>
                    <input class="done clear" type="submit" value="">
                </li>
            </ul>
            <div class="box-clear box-clear--bottom">
                <p class="p--pending">You have 4 pending tasks</p>
                <input class="submit submit--clear" type="submit" value="Clear All">
            </div>
        </div>
    </main>
    <script src="/scripts/btn-totop.js"></script>
    <script src="../../public/scripts/btn-totop.js"></script>
</body>
</html>