{{> header}}
<section class="auth-container login">
  <h3 class="h3--auth">Login</h3>
  {{>form-errors this}}
  <form method="post" action="login">
    {{#each inputs}}
      {{>form-input this}}
    {{/each}}
    <div class="footer-container">
      <input type="reset" class="btn btn-clear" value="Clear">
      <input type="submit" class="btn btn-register" value="Login">
    </div>
  </form>
  {{#button "GET" "/register" "btn btn-login" "submit" "Register"}}{{/button}}
</section>