<header>
    <div class="header-box">
        <a href="index.html" class="header-box--logo">
            <div class="header-img"></div>
            <h2>Just Do IT!</h2>
        </a>
        <a class="logout" href="index.html">Logout</a>
    </div>
</header>