<header>
    <div class="header-box">
        <a href="index.html" class="header-box--logo">
            <div class="header-img"></div>
            <h2>Just Do IT!</h2>
        </a>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <em>Enable Dark Mode!</em>
        </div>
        <a class="logout" href="index.html">Logout</a>
    </div>
</header>