<header>
    <div class="header-box">
        <a href="/" class="header-box--logo">
            <div class="header-img"></div>
            <h2>Just Do IT!</h2>
        </a>
        
        <div class="header-box--themes">
            {{> themeswitch}}
            <a class="logout" href="/">Logout</a>
        </div>
    </div>
</header>