
<h1 class="larger--all">We've got things to do!</h1>
<form id="todoForm">
    <input class="input" id="todo" type="text" name="todo" placeholder="Run a marathon" autocomplete="off">
    <button class="submit" id="todoSubmit" type="button">+</button>
</form>