
<h1 class="larger--all">We've got things to do, {{#capital userData.name }}{{/capital}}!</h1>
<form class="input__form" method="POST">
    <input type="text" name="title" class="input" id="todo" placeholder="Run a marathon" autocomplete="off">
    <input type="hidden" name="categories" value="{{categories}}"></input>
    <input type="hidden" name="users" value="{{userData.id}}"></input>
    <button formaction="/postTask" type="submit" class="submit submit__task">+</button>
    <button formaction="/postCategory" class="submit submit__category"></button>
</form>