<nav class="nav-container">
    <h3 class="larger--all">Categories</h3>
    <ul class="box-categories">
        {{#each categories}}
            <li class="box-categories__item">
                <button class="categories--btn" href="{{url}}">{{text}}</button>
                <input class="done clear" type="submit" value="">
            </li>
        {{/each}}
    </ul>
</nav>