<div class="box-clear">
    <h3 class="p--pending">You have {{tasksDone.length}} finished tasks</h3>
    <input class="submit submit--clear" type="submit" value="Clear All">
</div>

<ul class="tasks--done  box--bottom">
    {{#each tasksDone}}
        <li>
            <p>{{task}}</p>
            <input class="done clear" type="submit" value="">
        </li>
    {{/each}}
</ul>
