<div class="box-clear">
    <h3 class="p--pending">You have {{taskData.length}} finished tasks</h3>
    {{#button "DELETE" "/deleteAllTasks" "submit submit--clear" "submit" "Clear All"}}{{/button}}
</div>

<ul class="tasks--done  box--bottom">
    {{#each taskData}}
        {{#if checked}}
            <li>
                <p>{{title}}</p>
                <form class="input__form" method="POST">
                    <input type="hidden" name="id" value="{{id}}">
                    <button formaction="/deleteTask" type="submit" class="done clear"></button>
                </form>
            </li>
        {{/if}}
    {{/each}}
</ul>