<div class="box-clear">
    {{#length taskData true "finished"}}{{/length}}
    {{#button "DELETE" "/deleteAllTasks" "submit submit--clear" "submit" "Clear All"}}{{/button}}
</div>

<ul class="tasks--done  box--bottom">
    {{#each taskData}}
        {{#if checked}}
            <li>
                <p>{{title}}</p>
                <form class="input__form" method="POST">
                    <input type="hidden" name="id" value="{{id}}">
                    <button formaction="/deleteTask" type="submit" class="done clear"></button>
                </form>
            </li>
        {{/if}}
    {{/each}}
</ul>