<div class="box-clear">
    <h3 class="p--pending">You have {{userData.tasks.length}} finished tasks</h3>
    {{#button "DELETE" "/deleteAllTasks" "submit submit--clear" "submit" "Clear All"}}{{/button}}
</div>

<ul class="tasks--done  box--bottom">
    {{#each userData.tasks}}
        <li>
            <p>{{name}}</p>
            {{#button "POST" "/deleteTask" "done clear" "submit"}}{{/button}}
        </li>
    {{/each}}
</ul>
