<div class="box-clear">
    <h3 class="p--pending">You have pending tasks</h3>
    {{#button "DELETE" "/deleteAllTasks" "submit submit--clear" "submit" "Clear All"}}{{/button}}
</div>
<ul class="tasks">
    {{#each taskData}}
        {{#unless checked}}
            <li>
                <p>{{title}}</p>
                <form class="input__form" method="POST">
                    <input type="hidden" name="title" value="{{title}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <button formaction="/finishTask" type="submit" class="done">+</button>
                    <button formaction="/editTask" type="submit" class="edit"></button>
                    <button formaction="/deleteTask" type="submit" class="clear"></button>
                </form>
            </li>
        {{/unless}}
    {{/each}}
</ul>