<div class="switch-box">
    <a href="/" class="header-box--logo">
        <div class="header-img"></div>
        <h2>Just Do IT!</h2>
    </a>
    <div name="themes" class="switch__img"></div>
</div>  